.multi {
    font-size: 0;
    width: 100%;
    position: relative;
    height: 100vh;
}

.multi__question {
    width: 100%;
    font-size: 16px;
    height: auto;
}

.multi__answer {
    display: inline-block;
    width: 50%;
    button {
        width: 100%;
        float: left;
    }
}
